body
{
	background:#ffffff;
	width: 800px;
	margin:0 auto;
	padding:10px;
	color:#333333;
	font-family: Georgia, Serif;
	font-size : 11pt;
	text-align: justify;
}
a:link
{
	color:#5588aa;
	text-decoration:none;
}
a:visited
{
	color:#999999;
	text-decoration:none;
}
a:hover
{
	color:#cc6600;
	text-decoration:underline;
}
a img
{
	border-width:0;
}

p
{
	margin:0 0 .75em;
	line-height:1.6em;
}

ul
{
	padding-left: 20px;
}

li
{
	font-size : 10pt;
	line-height: 1.5em;
}

h1
{
	font-size:16pt;
	font-weight:bold;
	text-align:center;
	color:#999999;
}

h2
{
	margin:.25em 0 0;
	padding:0 0 4px;
	font-size:14pt;
	font-weight:bold;
	line-height:1.4em;
	color:#333333;
}

h3
{
	margin:.25em 0 0;
	padding:0 0 4px;
	font-size:12pt;
	font-weight:bold;
	line-height:1.4em;
	color:#333333;
}

h4
{
	margin:.25em 0 0;
	padding:0 0 4px;
	font-size:10pt;
	font-weight:bold;
	line-height:1.4em;
	color:#333333;
}

table.chart
{
	border-spacing: 0;
	border-collapse: collapse;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

th.top
{
	border-bottom-width: 2px;
	border-bottom-style: solid;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	color: gray;
}

th.leftside
{
	border-right-width: 2px;
	border-right-style: solid;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	text-indent: 10px;
	color: gray;
}

.mono { font-family: 'Courier New', Monospace; }
.sans { font-family: 'Calibri', Sans-serif; }
.serif { font-family: 'Cambria', Serif; }
.small { font-size: 10pt; }
.smallish { font-size: 11pt; }
.medium { font-size: 12pt; }
.large { font-size: 16pt; }
.vlarge { font-size: 20pt; }
.xlarge { font-size: 24pt; }
.centre { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }
.hidden { display: none; }
.blue { color: blue; }
.red { color: red; }
.green { color: green; }
.yellow { color: yellow; }
